<p style="color: green"><%= notice %></p>

<%= render @gathering_outing %>

<div>
  <%= link_to "Edit this gathering outing", edit_gathering_gathering_outing_path(@gathering_outing) %> |
  <%= link_to "Back to gathering outings", gathering_gathering_outings_path %>

  <%= button_to "Destroy this gathering outing", gathering_gathering_outings_path, method: :delete %>
</div>
