<div id="<%= dom_id group %>">
  <h3><%= group.name %></h3>

  <ul>
    <li>Meeting at: <%= group.location %></li>
    <li>Updated at: <%= group.updated_at %></li>
    <li>Current Count: <%= group.group_members.count %></li>
    <li>Capacity: <%= group.max_size %></li>
  </ul>

  <%# Admin Only later %>
  <h4>Members</h4>

  <ul>
    <% group.accounts.each do |member| %>
      <li><%= member.email %></li>
    <% end %>
  </ul>
</div>
