<p style="color: green"><%= notice %></p>

<%= render @group %>

<div>
  <%= link_to "Edit this group", edit_gathering_outing_group_path(@group) %> |
  <%= link_to "Back to groups", gathering_outing_groups_path %>

  <%= button_to "Destroy this group", gathering_outing_group_path(@group), method: :delete %>
</div>
