<p style="color: green"><%= notice %></p>

<%= render @group %>

<div>
  <%= link_to "Edit this group", edit_gathering_outing_group_path(@group) %> |
  <%= link_to "Back to outing", gathering_outing_path(id: @group.outing_id) %>

  <%= button_to "Destroy this group", gathering_outing_group_path(@group), method: :delete %>
</div>
