<p style="color: green"><%= notice %></p>

<%= render @outing %>

<div>
  <%= link_to "Edit this outing", edit_gathering_outing_path(@outing) %> |
  <%= link_to "Back to outings", gathering_outings_path %>

  <%= button_to "Destroy this outing", gathering_outings_path, method: :delete %>
</div>
