<section id="gathering-list" aria-label="gathering list">
  <% gatherings.each do |gathering| %>
    <article
      class="gathering"
      aria-labelledby="gathering-title"
      aria-describedby="gathering-description"
      tabindex="0"
      aria-posinset="1"
      aria-setsize="1"
    >
      <a href="<%= gathering_path(gathering.id) %>">
        <h3 class="gathering-title"><%= gathering.name %></h3>
      </a>

      <figure>
        <%=
          image_tag('railsconf_2023.jpg',
            alt: "RailsConf Banner featuring Atlanta Georgia",
            height: '200px',
            width: '300px'
          )
        %>
      </figure>

      <div class="gathering-description" aria-label="gathering description">
        <%= gathering.description %>
      </div>

      <div class="gathering-location" aria-label="gathering location">
        <%= gathering.location %>
      </div>

      <div class="gathering-time" aria-label="gathering time">
        <time datetime="2023-04-24 8:00">April 24th</time> to <time datetime="2023-04-26 17:00">April 26th 2023</time>
      </div>
    </article>
  <% end %>
</section>
