<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= @page_title || "Conference Eats" %>
    </title>

    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= vite_client_tag %>

    <%= vite_javascript_tag 'application' %>
  </head>

  <body class="container-fluid">
    <header>
      <% if notice %>
        <div class="notification is-success" role="alert">
          <%= notice %>
        </div>
      <% end %>

      <% if alert %>
        <div class="notification is-danger" role="alert">
          <%= alert %>
        </div>
      <% end %>

      <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <strong>Conference Eats</strong>
          </a>

          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item" href="/">
              Home
            </a>
          </div>

          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <% if rodauth.logged_in? %>
                  <%=
                    link_to(current_account.profile&.name || current_account.email, '#', class: 'button is-info')
                  %>

                  <%=
                    link_to('Sign out', rodauth.logout_path, method: :post, class: 'button is-danger')
                  %>
                <% else %>
                  <%=
                    link_to('Sign in', rodauth.login_path, class: 'button is-primary')
                  %>

                  <%=
                    link_to('Sign up', rodauth.create_account_path, class: 'button is-light')
                  %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <main role="main">
      <%= yield %>
    </main>
  </body>
</html>
