<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= @page_title || "Conference Eats" %>
    </title>

    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <header>
      <% if notice %>
        <div class="alert alert-success"><%= notice %></div>
      <% end %>

      <% if alert %>
        <div class="alert alert-danger"><%= alert %></div>
      <% end %>

      <h1>Conference Eats</h1>

      <hr>

      <% if rodauth.logged_in? %>
        <%= current_account.profile&.name || current_account.email %> |
        <%= link_to 'Sign out', rodauth.logout_path, method: :post %>
      <% else %>
        <%= link_to 'Sign in', rodauth.login_path %>
        <%= link_to 'Sign up', rodauth.create_account_path %>
      <% end %>

      <hr>
    </header>

    <main role="main">
      <%= yield %>
    </main>
  </body>
</html>
